/* Grid Slider */
.a_info{
    bottom: 10px;position: absolute;left: 0;right: 0;
}
.a_year{

    color:black;
}
/* start calculator */
.mort-div
{
    width: 100%;
    display: flex;

    position: relative;

    padding-top: 10px;
}
.flex-column .mort_mhalf_right{

    padding-left: 15px;

}
.mort_mhalf_right{

    padding-left: 5px;
    white-space: nowrap;

}
.amt-div .mort_mhalf_right, .amt-div .mhalf_left
{
    padding-left:0 !important;
    padding-right:0 !important;
}

.mort-div .mort_mhalf_right input[type="search"]
{
    height: 20px;
}
.w-50{
    width: 50% !important;
}
.d-block{
    display:block;
}
.mort_mhalf_right select
{
    padding: 11px;
}

.amt-div{
    padding: 15px 0;
}
/* end calculator */
/* Start Light Slider */
ul#lightSlider {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom:0;

}
#lightSlider li {
    display: block;
    float: left;
    margin-right: 6px;
    cursor: pointer;
    height: inherit;
}
#lightSlider img {
    display: block;
    position: relative;
    max-width: 100%;
    width: auto;
    height: inherit;
    margin: auto;
}
#carousel-bounding{
    width: 1024px;
}

.lSSlideOuter .lSPager.lSGallery img
{
    width: 100%;
    height: 100% !important;
}
.lSSlideOuter .lSPager.lSGallery li
{
    height: 85px;
}
/* End Light Slider */
#main-slider-2{
    padding-right: 2px;
    background: #ffffff00;
    padding-top: 2px;
    padding-bottom: 2px;
}
#main-slider-2 img{
    position: relative !important;
    height: 100%;
    margin: auto;
    width: 100%;
    object-fit: cover;

}
#main-slider-2 .list_info {
    position: absolute;
    bottom: 0;

    background: linear-gradient(0deg, rgba(0,0,0,0.8407738095238095) 0%, rgba(0,0,0,0.4598214285714286) 46%, rgba(0,0,0,0) 100%);
    height: 80px;
    padding: 28px 6px 6px 15px;
    margin:0;
    width: 100%;
}
.col-slider{
    padding:2px;
    display:none;
}
.col-slider:hover .list_info {
    background: linear-gradient(0deg, rgba(0,0,0,0.8407738095238095) 0%, rgba(0,0,0,0.4598214285714286) 36%, rgba(0,0,0,0) 100%) !important;
}
#main-slider-2 .list_address{
    color: white !important;
    font-size: 15px !important;
    line-height: 0.9;
}
#main-slider-2 .list_price{

    color: white !important;
    font-size: 18px !important;
}
#main-slider-2 .block
{
    height: 300px;
}
.m-0{
    margin:0;
}
.p-relative{
    position:relative;
}
/* */

.agentmini{

    max-height: 450px;
    overflow: hidden;
    padding: 3px;
    border: 1px solid #d2d2d2;
    margin: 10px;
    margin-top: 10px;
    margin-top: 10px;
    text-align: center;
    font-family: lato,arial,sans-serif;
    box-shadow: 3px 3px 3px #efefef;
    background-color: #ffffff;
}
.agentmini img{
    max-height: 200px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 10px;
}
.image-award{
    height: 75px !important;
    display: inline;
    top: unset !important;
}
.main-award{
    width: 130px !important;
    display: inline;
    top: unset !important;
}
.image-award:nth-child(2n), .main-award:nth-child(2n)
{
    padding-left:10px;
}
li.col-sm-3.award-box img.img-responsive {
    max-height: 200px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 10px;
}
li.col-sm-3.agentsbox {

    max-height: 400px !important;
    overflow: hidden;
    padding: 3px;
    border: 1px solid #d2d2d2;
    margin: 10px;
    text-align: center;
    font-family: lato,arial,sans-serif;
    box-shadow: 3px 3px 3px #efefef;
    background-color: #ffffff;
}

li.col-sm-3.award-box.listNavShow {
    margin-top: 34px !important;
}
li.col-sm-4.award-box img.img-responsive {
    max-height: 200px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 10px;
}
li.col-sm-4.award-box {

    max-height: 400px;
    overflow: hidden;
    padding: 3px;
    border: 1px solid #d2d2d2;
    margin: 10px;
    text-align: center;
    font-family: lato,arial,sans-serif;
    box-shadow: 3px 3px 3px #efefef;
    background-color: #ffffff;
}
#listings-nav{
    display: table;
    margin:0 auto;
    padding-top: 10px;
}
li.col-sm-4.award-box.listNavShow {
    margin-top: 34px !important;
}
.join-live
{
    padding-top : 15px;
}
.btn-live{
    background: lightgreen;
    color: white;
}
.font-light-blue{
    color: #5bc0de;
}
#advanced-search {
    border: 1px #ccc solid !important;
    padding-top: 9px;
    padding-bottom: 8px;
}
#sort_by{
    display: inline-block;
    padding-left:10px;
}
.sort-select{
    padding-right: 30px;
    -webkit-appearance: none;
}
.badgebox {
    opacity: 0;
}

.badgebox + .badge {
    text-indent: -999999px;
    width: 27px;
}

.badgebox:focus + .badge {
    box-shadow: inset 0px 0px 5px;
}

.badgebox:checked + .badge {
    text-indent: 0;
}

div.tooltip.tooltip-min.top, div.tooltip.tooltip-max.top{
    opacity: 1!important;
    display: block!important;
}

label.btn {
    font-family: Montserrat, "Helvetica Neue", sans-serif;
    letter-spacing: 0.046875em;
    text-transform: uppercase;
}

.flexible-div{
    display: inline-block;
    vertical-align: top;
    margin-top: 2px;
    background: white;
}

.flexible-div.start-price, .flexible-div.end-price, .flexible-div.price-slider{
    background: transparent;
}

.flexible-text{
    min-width: 140px;
}

.submit-search{
    font-size: 11px;
    text-transform: uppercase;
    padding: 9px 14px;
    border-radius: 0px;
    background: #7d7d7e;
    font-weight: 400;
    border: none;
    -webkit-appearance: none;
    color: white;
    line-height: 150%;
}

.grid-box {
    border: 1px solid #F0F0F0;
    width: 100%;
    height: 350px;
    color: #727272;
    margin: 10px;
}

.grid-overlay {
    position: relative;
    left: 0;
    top: 0;
    height: 71%;
}

.grid-banner {
    position: absolute;
    bottom: 3px;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 100;
}

.grid-image {
    height: 86%;
    overflow: hidden;
    margin: 0 auto;
    width: 98%;
    position: absolute;
    top: 5px;
    left: 5px;
}

.grid-image img {
    width: 98%;
}

.grid-address {
    text-align: center;
    font-size:15px;
    height:57px;
}

.grid-address span {
    display: block;
    color: black;

}

.grid-broker {
    font-size: 9px;
    position: absolute;
    bottom: 11px;
    padding-left: 5px;
    line-height: 10px;
}

.search-icon {
    background-color: white;
    color: #aaa;
    border-right: 0;
}

.advanced-black {
    color: black !important;
}

.slider.slider-horizontal {

    width: 100% !important;
}

.post form#clearForm{
    padding: 0px;
}

.search-input {
    outline: 0;
    background: transparent;
    border: 1px solid #ccc;
    border-radius: 0 !important;
    position: relative;

}

.search-input--what{
    font-size: 12px;
    color: red;
    text-decoration: none;
}

.search-input--what-content{
    font-size: 12px;
    padding: 10px;
}

.search-input--what-content-intro{
    margin-bottom: 5px;
}

.search-input--what-content ul{
    padding-left: 10px;
    font-size: 12px;
}

.no-gap {
    padding: 0 !important;
    margin: 0 !important;
}

.form-control{
    -webkit-appearance: none;
    border-radius: 0px;
}

.form-control.search-select {
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 11px;
    width: 100%;
    -webkit-appearance: none;
    border-radius: 0px;
    padding-right: 30px;
}
.slider-handle{
    background: red!important;
}

.price-slider{
    width: 60%;
}

@media screen and (max-width: 767px){
    .price-slider{
        width: 100%;
    }
    .tooltip-main{
        display: none;
    }
    .slider .tooltip.top{
        opacity: 1;
    }
}

.search-listing{
    margin-bottom: 20px;
}

#advanced-form{
    text-align: right;
    margin-top: 40px;
    margin-bottom: 20px;
}

.start-price{
    font-size: 14px;
    margin-right: 0px;
    font-weight: 600;
    width: 49%;
    text-align: left;
}

.end-price{
    font-size: 14px;
    margin-left: 0px;
    font-weight: 600;
    width: 49%;
    text-align: right;
}

.search-select-wrap{
    display: inline-block;
    position: relative;
}
.search-select-wrap:after{
    content: "\f0d7";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translate(0,-50%);
}

.listing-table th {
    text-align: center;
    background-color: #f2f2f2;
}

.listing-table tbody tr td {
    vertical-align: middle;
    text-align: center;
}

.listing-table-image {
    width: 98%;
    max-height: 145px;
    overflow: hidden;
    border: 2px solid #F0F0F0;
    display: inline-block;
}

.listing-table-image img {
    width: 98%;
}

.listing-table-address {
    text-align: center;
    max-width: 200px;
    margin-top: 4%;
    color: #dd1e25;
}

.list-image-box {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
}



.list-banner {
    z-index: 100;
    width: 100%;
}
.list-banner img {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.list-image {
    height: 230px;
    overflow: hidden;
    margin: 0 auto;
    width: 98%;
}

.list-image img {
    width: 98%;
}

.list-row {
    border: 1px solid #F0F0F0;
    margin-top: 10px;

}

.list-price {
    font-size: 18px;
    color: #dd1e25;
    font-weight: bold;
    line-height: 20px;
    padding-left: 0px !important;
}

.list-price span {
    font-size: 10px;
    color: #313131;
}

.list-address {
    font-weight: bold;
    font-size: 14px;
    color: #727272;
    line-height: 14px;
}

.list-text {
    color: #313131;
}

.list-broker {
    padding-top: 10px;
    color: #bbbbbd;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
}

.pagination::before, .pagination::after {
    background-color: transparent !important;
}

.toppad {
    margin-top: 4px;
    margin-bottom: 21px;
}

.frame ul li {
    padding: 1.5px !important;
}

.hide-bullets {
    list-style: none;
    margin-left: -40px;
    margin-top: 20px;
}

/* list main page*/

.list_price {
    width: 100%;
    color: #777777;
    font-weight: bold;
    line-height: 1;
}

.list_info {
// position: absolute;
//margin-top: 70px;
// bottom: -10px;
    width: 100%;
    color: #777777;
    margin-left: 3px;
    line-height: 1.2;
}

.list_info p {
    line-height: 0.5;
//font-size: 75%;
}

.list_img {
    position: relative;
//width: 235px;
//height: 165px ;
//  width: 308px !important;
//height: 159px !important;
    overflow: hidden;

}

.list_img img {
// height: 141%;
// width: auto;
//  top: -20%;
//max-width: initial;
}

.list_address {
    font-size: 11.5px;
    text-transform: uppercase;
    font-weight: bold;
    color:#393939;
}


.list_features label {
    font-weight:600 !important;
}
.list_agent{
    font-weight:600 !important;
}
.buttonslisting {
    margin-top: 5px;
    margin-bottom: 5px;
}
.list_baths_lb,.list_size_lb{
    margin-left: 10px;
}

.match-score{

    display: inline !important;
    float: right;
    top:unset !important;
    border:unset !important;
// line-height: unset !important;
}
.ll-match-score:before{
    content: '' !important;
}
#ll-lifestyle{
    float: left;
    padding-left:10px;
}
#ll-lifestyle .ll-top-controls
{
    display: none;
}
.ll-search{
    position: absolute;
    z-index: 400;
    width:100%;
}
#ll-lifestyle .ll-category-section{
    display: inline-block;
}
#llcount:before{
    content: '(';
}
#llcount:after{
    content:')';
}
.d-none{
    display:none;
}
.circle{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    text-align: center;

}
.circle-val{
    border-radius: 50%;
    width: 130px;
    height: 130px;
    padding: 20px;
    background: #fff;
    display: inline-block;
    text-align: center;
    font: 19px Arial, sans-serif;
    padding-top: 36px;
}
.bg-red{
    background: red;
}
.font-red{
    color:red;
}
.text-white{
    color:white;
}
#sold:hover{
    color:white !important;
}
.bg-blue{
    background: blue;
}
.w-15{
    font-size: 14px;
    padding: 1em;
}
#local-content{
    padding-top: 25px;
}
.mt{
    width:50%;display: inline-block;float:right;
    padding-left:10px;
}
.edu-val{

    border-radius: 50%;
    width: 70px !important;
    height: 70px !important;
    text-align: center;
    padding: 4px;
}
.edu-val.fa-3x{
    padding: 9px;
}
.edu-val.fa-graduation-cap{
    padding:13px 0 0 0;
}
.graduate .fa-graduation-cap{
    bottom: 26px;
    color:#5bc0de;
}
.graduate .fa-user{
    color:black;

}
.bg-pink{
    background: #ff6384;
}
.bg-light-blue{
    background: #5bc0de;
}
.ll_demo{

    padding-bottom: 20px;
}
.btn-center{
    margin: auto;
    float:unset !important;
}
.error{
    color: red;
}
.success{
    color: green;
}
.text-red{
    color: red !important;
}
.font-18{
    font-size: 18px;
}
.font-16{
    font-size: 16px;
}
.font-14{
    font-size: 14px;
}
.text-grey{
    color: grey;
}
.text-align-center{
    text-align: center;
}
.dec-none:hover{
    text-decoration: none;
}
.p-w{
    min-width: 291px;
}
.sprice{
    float: right;
}
.blur{
    -webkit-filter: blur(9px);
    -moz-filter: blur(9px);
    -o-filter: blur(9px);
    -ms-filter: blur(9px);
    filter: blur(9px);
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
    color:white !important;
    background: red !important;
    border: unset;


}
.ui-menu-item-wrapper{
    font-size: 14px;
}
.p-t
{
    padding-top:5px;
}
/*


.listing{
  text-align: left;

}



.list-inline>li {
    padding: 0 10px 0 0;
}
.container-pad {
    padding: 30px 15px;
}


.bgc-fff {
    background-color: #fff!important;
}
.box-shad {
    -webkit-box-shadow: 1px 1px 0 rgba(0,0,0,.2);
    box-shadow: 1px 1px 0 rgba(0,0,0,.2);
}
.brdr {
    border: 1px solid #ededed;
}

.fnt-smaller {
    font-size: .9em;
}
.fnt-lighter {
    color: #bbb;
}

.pad-10 {
    padding: 10px!important;
}
.mrg-0 {
    margin: 0!important;
}
.btm-mrg-10 {
    margin-bottom: 10px!important;
}
.btm-mrg-20 {
    margin-bottom: 20px!important;
}

.clr-535353 {
    color: #535353;
}




@media only screen and (max-width: 991px) {
    #property-listings .property-listing {
        padding: 5px!important;
    }
    #property-listings .property-listing a {
        margin: 0;
    }
    #property-listings .property-listing .media-body {
        padding: 10px;
    }
}

@media only screen and (min-width: 992px) {
    #property-listings .property-listing img {
        max-width: 180px;
    }
}













.glyphicon { margin-right:5px; }
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    min-height: 200px;
}

.itemlist.list-group-item
{
    float: none;
    width: 100%;
    margin-bottom: 10px;
}

.itemlist.list-group-item .excerpt {
    display: block;

}
.excerpt {
    display: none;

}

.itemlist.list-group-item .nonexcerpt {
    display: none;

}
.nonexcerpt {
    display: block;

}


.itemlist.list-group-item .list-group-image
{
    margin-right: 10px;
}
.itemlist.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.itemlist.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}

.itemlist.list-group-item:before, .itemlist.list-group-item:after
{
    display: table;
    content: " ";
}

.itemlist.list-group-item img
{
    float: left;
}
.itemlist.list-group-item:after
{
    clear: both;
}
.itemlist-group-item-text
{
    margin: 0 0 11px;
}



.itemlist .thumbnail {
 min-height:200px;
}

.itemlist.list-group-item .thumbnail {
min-height: 0;
    border: 0px;
}

.list-group-item:last-child {
    margin-bottom: 33px;
}

.thumbnail {
 padding:0px;
}



.frame {
 height: 250px;
 line-height: 250px;
 overflow: hidden;
}
.frame ul {
 list-style: none;
 margin: 3px;
 padding: 0;
 height: 100%;
}
.frame ul li {
 float: left;
 width: 227px;
 height: 100%;
 margin: 0 1px 0 0;
 padding: 6px !important;
 background: #fff;
 color: #ddd;
 cursor: pointer;
}
.frame ul li.active {

}
.frame h5 {
 text-align: bottom;
font-size:18px;
}

.scrollbar .handle {

    background: #F90000 !important;
}

span.agentname {
    font-size: 22px;
}


.caption {
    margin-top: 22px;
}

.frame h5 {
    font-size: 18px;
    line-height: 19px;
}



.testimonial_col {

    padding: 34px;
}


.testimonial_col span {

    font-weight: 600;
}
*/
.searcharrow {
    position: relative;
    top: 22px;
    z-index: 1000;
}
#listings_pagination, .ln-letters,.listNavShow,.grid2,.grid1{
    font-size: initial !important;
}
#modal-popup-login,#modal-popup-signup,#modal-popup-forgot,#modal-popup-success
{
    z-index:999999 !important;
}
.font-22{
    font-size: 22px;
}
.head-title{
    text-transform: uppercase;
    padding-top: 10px;
}
.border-bottom-0{
    border-bottom:0 !important;
}
.btn-reg{
    width: 50%;
    font-size: 19px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 10px;
    border: 1px solid black;
}
.small-text{
    text-transform: none;
    display: block;
    font-size: 70%;
    padding-top:10px;
}
#frmLogin{
    margin: 0 auto;
    width: 360px;
}
.modal-width{
    width: 480px;
}
.brz .brz-row__container{
    font-size: initial !important;
}
#messageModal.mm-slideout,.modal-backdrop.mm-slideout{

    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
    position:fixed !important;

}
.detail-sec .empty-left i, .detail-sec .empty-left span{
    font-size: 20px !important;
}
.flex-column{
    flex-direction: column;
}

.flex-column .mort_unit{
    position: relative;
    top: 25%;
    padding-top:0;
}
.mort_unit{
    padding-top: 10px;
}

@media only screen and (max-width: 1024px){
    #carousel-bounding
    {
        width :100%;

    }
    .lSSlideOuter .lSPager.lSGallery li {
        height: 50px;
    }
}
@media only screen and (max-width: 896px) {

    .grid-overlay{
        height: 65%;
    }
    .grid-address{
        height:78px;
    }
    li.col-sm-3.award-box{
        margin: 10px 6px !important;
    }


}
@media only screen and (max-width: 480px)
{
    .modal-width {
        width: auto;
    }
}
@media only screen and (max-width: 414px) {

    .empty-right
    {
        padding-top: 7px !important;
        font-size: 17px !important;
    }
    .detail-sec .city-holder
    {
        padding-top: 10px !important;
        font-size: 15px !important;
    }

    .detail-sec .empty-left i, .detail-sec .empty-left span{
        font-size: 13px !important;
    }
    .ss-holder .user-holder,.ss-holder .time-holder{
        padding-top: 1px !important;
    }
    .grid-address{
        font-size: 14px;
        height:51px;
    }
    .grid-overlay{
        height: 71%;
    }
    .p-t{
        padding-top:10px;
    }
    #listings{
        margin: 0;
    }
    li.col-sm-3.award-box{
        width: 100% !important;
        margin:10px 0 !important;
    }



}

@media only screen and (max-width: 375px)
{
    .grid-address {
        font-size: 13px;
        height: 57px;
    }
}
@media only screen and (min-width: 768px)
{
    li.col-sm-3.award-box{
        width: 30% !important;
    }

}